@use 'sass:color';

@use '@material/theme/color-palette';


// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #c026d3,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #121212,
  $error: color-palette.$red-900
);
@use '@material/theme/styles';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color:  #c026d3;
}
a:visited {
  color: color.scale( #c026d3, $lightness: -35%);
}
